<div class="pageBg1 page-top-spacing">
  <div class="container">
    <div class="text-center">
      <h3 class="bodyHd">
        Eager to boost your earnings and extend your reach in the finance realm?
      </h3>
      <p class="bodyP">
        Collaborate with us and experience the rewards of joining our sales
        alliance.
      </p>
      <br />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-6 overview-image crypto-banner-image position-relative text-center aos-init aos-animate"
        style="flex: 1"
      >
        <img
          style="width: 508px"
          src="assets/front/images/Shark/1st-graphics.png"
        />
      </div>

      <div class="col-12 col-md-6" style="margin-top: 40px">
        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Lucrative Earnings
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Embrace a partnership with us to access a universe of earnings. Enjoy
          generous commissions for every prosperous sale you create.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Proven Success
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Partner with us as a sales associate and harness our established
          history of triumph. Aligning with our esteemed reputation in financial
          services promptly elevates your standing in the sector.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Rely on a Globally Trusted Brand
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          By aligning with our renowned global brand, you fortify your
          credibility and trustworthiness within the industry.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div
      class="row flex-column-reverse flex-md-row"
      style="padding-bottom: 100px"
    >
      <div class="col-12 col-md-6" style="flex: 1; margin-top: 60px">
        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Expert Support
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          We provide comprehensive training and ongoing support to equip you
          with the knowledge and tools needed to succeed in the product sales.
          Our team of experts is here to guide you every step of the way.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Performance Recognition
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Your hard work doesn't go unnoticed. Earn recognition and rewards for
          outstanding performance as a sales partner, including exclusive trips
          and incentives.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h4 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Global Market Reach
          </h4>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: white;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Partnering with us means tapping into a vast, global market. Expand
          your horizons, leverage our international presence and watch your
          sales network soar.
        </p>
      </div>

      <div
        class="col-12 col-md-6 overview-image crypto-banner-image position-relative text-center aos-init aos-animate"
      >
        <img
          style="width: 508px"
          src="assets/front/images/Shark/2ND-GRAPHICS-1.png"
        />
      </div>
    </div>
  </div>
</div>

<div class="pageBg2">
  <div class="text-center">
    <h3 class="bodyHd">Interested in Becoming Our Sales Partner?</h3>
    <p class="bodyP">
      Complete the form below to express your interest in joining Shark Traders
      as a sales partner. Our team will review your application and reach out to
      you within 24 hours to discuss the next steps.
    </p>
    <br />
  </div>

  <div class="form container">
    <p>
      <label>
        Full Name
        <span class="red">*</span>
      </label>
      <input size="40" value="" type="text" name="Fname" />
    </p>

    <div class="row">
      <p class="halfWidth col-12 col-md-6">
        <label>
          Email
          <span class="red">*</span>
        </label>
        <input size="100" value="" type="email" name="Email" />
      </p>

      <p class="halfWidth col-12 col-md-6">
        <label>
          Mobile Number
          <span class="red">*</span>
        </label>
        <input size="12" value="" type="number" name="MobNo" />
      </p>
    </div>

    <div class="row">
      <p class="halfWidth col-12 col-md-6">
        <label>
          Years of Experience
          <span class="red">*</span>
        </label>
        <input size="2" value="" type="number" name="YOP" />
      </p>

      <p class="halfWidth col-12 col-md-6">
        <label>
          Country
          <span class="red">*</span>
        </label>
        <select id="country">
          <option>India</option>
          <option>United States</option>
          <option>Canada</option>
          <option>Australia</option>
          <option>Germany</option>
          <option>France</option>
          <option>Brazil</option>
          <option>Japan</option>
          <option>South Africa</option>
          <option>United Kingdom</option>
        </select>
      </p>
    </div>

    <div class="row">
      <p class="halfWidth col-12 col-md-6">
        <label>
          Company Name
          <span class="red">*</span>
        </label>
        <input size="50" value="" type="number" name="Company" />
      </p>

      <p class="halfWidth col-12 col-md-6">
        <label>
          Are you a
          <span class="red">*</span>
        </label>
        <select id="who">
          <option>Broker</option>
          <option>Consultant</option>
        </select>
      </p>
    </div>

    <p>
      <label>
        Message
        <span class="red">*</span>
      </label>
      <textarea id="txtAreaMsg" rows="6" cols="70"></textarea>
    </p>

    <a href="" class="default-btn position-relative">Send Message</a>
  </div>
</div>
