<div class="pageBg feature-top-spacing">
  <div class="menu position-sticky">
    <ul class="menuUl">
      <li class="menuItems">
        <a [routerLink]="'/multi-asset-platform'">Multi-Asset Platform</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/technical-analysis'">Technical Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/fundamental-analysis'">Fundamental Analysis</a>
      </li>
      <li class="menuItems active">
        <a [routerLink]="'/automation'">Automation</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/multiple-order-type'">Multiple Order Type</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/predictive-trading-options'"
          >Predictive Trading Options</a
        >
      </li>
      <li class="menuItems">
        <a [routerLink]="'/mobile-trading'">Mobile Trading</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/web-platforms'">Web Platforms</a>
      </li>
    </ul>
  </div>

  <div class="container pt-5">
    <div class="main text-center">
      <h1 style="color: white; font-weight: 500; letter-spacing: 0.5px">
        Automation
      </h1>
      <p style="font-size: 16px">
        Unlock Efficiency with our software which automates trades via custom
        algorithms, refining execution based on predefined rules. Elevate your
        activities with precise rule-based strategies that enhance accuracy over
        time.
      </p>
      <img
        src="assets/front/images/Shark/Trading-Strategy-Tester-1.png"
        class="my-30"
        style="width: 1100px"
      />
    </div>
  </div>

  <div class="container">
    <div
      class="feature-card-container flex-wrap d-flex flex-column flex-md-row justify-content-center"
      style="gap: 20px"
    >
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Precision in Automated Strategies
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Algorithmic strategies, often referred to as black box or automated
          systems, utilize predetermined rules and instructions. These
          parameters control the precise timing and execution of actions within
          the financial markets.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Precise Execution
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Algorithms can execute trades with precise timing and accuracy,
          eliminating human errors and emotions from the financial decisions.
          This can lead to improved order execution and reduced slippage.
        </p>
      </div>
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Backtesting and Optimization
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Algorithm testing involves evaluating performance against historical
          data, allowing for optimization to improve effectiveness in different
          market scenarios. This process enhances automated decision making.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          24*7 Access
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          24*7 Algorithmic Operations guarantee unceasing market involvement,
          seizing international prospects and automatically responding to news
          and developments. This persistent activity elevates operational
          efficiency, eliminating the necessity for constant oversight.
        </p>
      </div>
    </div>
  </div>

  <div class="getStarted container mt-5">
    <div class="getStartedInner text-center contact_section">
      <h2
        style="
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.3;
          color: white;
        "
      >
        Shark Traders - Your Success, Our<br />
        Commitment through Innovation.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
