<div class="pageBg feature-top-spacing">
  <div class="menu position-sticky">
    <ul class="menuUl">
      <li class="menuItems active">
        <a [routerLink]="'/multi-asset-platform'">Multi-Asset Platform</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/technical-analysis'">Technical Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/fundamental-analysis'">Fundamental Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/automation'">Automation</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/multiple-order-type'">Multiple Order Type</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/predictive-trading-options'"
          >Predictive Trading Options</a
        >
      </li>
      <li class="menuItems">
        <a [routerLink]="'/mobile-trading'">Mobile Trading</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/web-platforms'">Web Platforms</a>
      </li>
    </ul>
  </div>

  <div class="container pt-5">
    <div class="main text-center">
      <h1 style="color: white; font-weight: 500; letter-spacing: 0.5px">
        Multi-Asset Platform
      </h1>
      <p style="font-size: 16px">
        In a trading context, a multi-asset platform like Shark Traders broadens
        horizons with diverse asset classes, amplifying flexibility and strategy
        options. Delve into the platform’s key features and benefits
      </p>
      <img
        src="assets/front/images/Shark/powerfultradingplatform.png"
        class="my-30"
        style="width: 1100px"
      />
    </div>
  </div>

  <div class="container">
    <div
      class="feature-card-container flex-wrap d-flex flex-column flex-md-row justify-content-center"
      style="gap: 20px"
    >
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Single Platform Access
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Explore endless possibilities with our multi-asset platform where you
          can tap into a world of diverse asset classes, all seamlessly
          accessible through a unified interface. Portfolio management and
          account oversight become a breeze, enhancing your efficiency.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Diversification
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Multi-asset capability empowers investors to allocate funds across a
          spectrum of asset classes, heightening the potential for risk
          mitigation and yield enhancement. This strategy thrives on the
          principle that gains in one category can offset losses in another,
          promoting portfolio stability.
        </p>
      </div>
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Market Opportunities
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Effortlessly explore opportunities in various asset classes without
          managing multiple accounts or brokers. Enhance flexibility and
          efficiency by capitalizing on market shifts across diverse assets
          within a unified environment.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Multiple Asset Classes
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          With Shark Traders discover diverse asset classes like Forex,
          commodities, stocks, digital assets, indices, bonds, options, futures
          and ETFs, providing versatile trading prospects.
        </p>
      </div>
    </div>
  </div>

  <div class="getStarted container mt-5">
    <div class="getStartedInner text-center contact_section">
      <h2
        style="
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.3;
          color: white;
        "
      >
        Shark Traders - Your Success, Our<br />
        Commitment through Innovation.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
