<div class="pageBg feature-top-spacing">
  <div class="menu position-sticky">
    <ul class="menuUl">
      <li class="menuItems">
        <a [routerLink]="'/multi-asset-platform'">Multi-Asset Platform</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/technical-analysis'">Technical Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/fundamental-analysis'">Fundamental Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/automation'">Automation</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/multiple-order-type'">Multiple Order Type</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/predictive-trading-options'"
          >Predictive Trading Options</a
        >
      </li>
      <li class="menuItems">
        <a [routerLink]="'/mobile-trading'">Mobile Trading</a>
      </li>
      <li class="menuItems active">
        <a [routerLink]="'/web-platforms'">Web Platforms</a>
      </li>
    </ul>
  </div>

  <div class="container pt-5">
    <div class="main text-center">
      <h1 style="color: white; font-weight: 500; letter-spacing: 0.5px">
        Web Platforms
      </h1>
      <p style="font-size: 16px">
        Web-based financial interactions are facilitated through an online
        platform accessible via web browsers. These platforms provide extensive
        customization options, empowering users to tailor their workspace and
        preferences to match their specific strategies and requirements.
      </p>
      <img
        src="assets/front/images/Shark/web.png"
        class="my-30"
        style="width: 1100px"
      />
    </div>
  </div>

  <div class="container">
    <div
      class="feature-card-container flex-wrap d-flex flex-column flex-md-row justify-content-center"
      style="gap: 20px"
    >
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Accessible from Anywhere
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Experience the convenience and flexibility of web-based platforms,
          accessible from any device with an internet connection, providing
          seamless and accessible opportunities for market participation.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          No Downloads or Installations
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Unlike traditional downloadable software, web-based platforms
          eliminate the need for installations or downloads. You can access them
          effortlessly through web browsers, ensuring a hassle-free and
          maintenance-free experience.
        </p>
      </div>
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          User-Friendly Interfaces
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Web-based platforms commonly offer user-friendly interfaces with
          customizable dashboards, real-time charts and news feeds.These
          features simplify market analysis, enhancing the overall experience
          for users.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Cross-Device Compatibility
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Web based platforms are compatible with various devices including
          desktop computers, laptops, tablets and smartphones. Traders can
          seamlessly switch between devices while maintaining access to their
          trading accounts and portfolios.
        </p>
      </div>
    </div>
  </div>

  <div class="getStarted container mt-5">
    <div class="getStartedInner text-center contact_section">
      <h2
        style="
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.3;
          color: white;
        "
      >
        Shark Traders - Your Success, Our<br />
        Commitment through Innovation.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
