<div class="pageBg">
  <div class="div1">
    <div class="div1Inner d-flex flex-column-reverse flex-lg-row">
      <div style="flex: 3">
        <h1
          class="text-center text-lg-start"
          style="letter-spacing: 0.5px; font-size: 55px; font-weight: 500"
        >
          Revolutionize Your Brokerage with #1 Trading Software For Brokers
        </h1>
        <p
          class="text-center text-lg-start"
          style="
            color: white;
            line-height: 1.8;
            font-size: 16px;
            margin-top: 15px;
          "
        >
          Harness the potential of your brokerage with Shark Traders, the
          <strong style="font-weight: 700"
            >#1 Trading Software For Brokers</strong
          >
          meticulously tailored for brokers. Developed by a team of seasoned
          developers and industry experts, Shark Traders provides you with the
          most advanced functionalities like stop-loss and limit orders to help
          you enhance your trading strategies. With a plethora of complex charts
          and indicators at your disposal, you'll be able to make informed
          judgments and increase your profits. Shark Traders will transform your
          trading experience and help you reach exceptional success.
        </p>
        <a
          [routerLink]="'/get-demo'"
          class="default-btn position-relative d-flex justify-content-center align-items-center"
          >Try Shark Traders</a
        >
      </div>
      <div
        class="crypto-banner-image position-relative text-center aos-init aos-animate"
        style="flex: 7"
      >
        <img src="assets/front/images/Shark/globe.webp" />
        <video autoplay loop style="top: 41%">
          <source
            src="assets/front/images/Shark/Banner-Graphics_2_new.webm"
            type="video/webm"
          />
        </video>
      </div>
    </div>
  </div>

  <div class="div2" id="about">
    <div class="div2Inner text-center rounded">
      <p style="color: #f2f2f2; font-weight: 900">
        <b class="text-center text-lg-start"
          >Delve into Legacy of #1 Trading Software For Brokers<br
        /></b>
      </p>
      <h2 style="letter-spacing: 0.5px; font-weight: 500; margin-bottom: 25px">
        Automate Trades, Manage Risk With Shark Traders a Next-level Trading
        Software For Brokers
      </h2>
      <p style="color: white; font-size: 17px">
        Shark Technologies stands out as a beacon of revolution in the
        ground-breaking financial market technology industry. With a quite long
        history spanning over two decades, our expertise in developing
        cutting-edge financial solutions puts us miles ahead of the competition.
        Our robust and resilient solutions are perfectly adapted to the complex
        needs of the Foreign Exchange Market, offering trading platforms with an
        unmistakable advantage.
      </p>
      <p
        class="text-center text-lg-start"
        style="color: #f2f2f2; font-size: 17px"
      >
        We also specialize in transitioning businesses to the forefront of
        technical innovations, assuring their success in highly competitive
        markets. Our dynamic team of seasoned designers and developers are
        highly competent at harnessing the most cutting-edge technology to
        provide bespoke services that fits in the demands of entrepreneurs and
        startups. Partner with Shark Technologies and don’t just adapt to
        change; be the change.
      </p>
    </div>
  </div>

  <div class="div3" id="features">
    <div class="mb-5" style="text-align: center">
      <p style="color: white; font-weight: 900">
        <b class="text-center text-lg-start"
          >Explore Our Cutting-Edge Trading Solutions</b
        >
      </p>
      <h2 style="letter-spacing: 0.5px; font-weight: 500">
        A Customizable Trading Software For Brokers to Boost Profits
      </h2>
    </div>
    <div class="div3Inner mt-60">
      <div class="parent">
        <div class="child">
          <a
            [routerLink]="'/multi-asset-platform'"
            class="text-center text-lg-start"
          >
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/powerful_trading.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Multi-Asset Platform
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              Utilize our multi-asset platform to effortlessly diversify your
              investing portfolio. With our user-friendly interface, you can
              execute your strategy with simplicity and browse through different
              asset classes with ease.
            </p>
          </a>
        </div>
        <div class="child">
          <a
            [routerLink]="'/technical-analysis'"
            class="text-center text-lg-start"
          >
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/professional_technical.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Technical Analysis
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              Use our cutting-edge technical analysis tools to obtain a
              competitive advantage. Our platform gives you the ability to make
              data-driven trading decisions by providing you with a wide range
              of technical indicators and advanced charting capabilities.
            </p>
          </a>
        </div>
        <div class="child">
          <a
            [routerLink]="'/fundamental-analysis'"
            class="text-center text-lg-start"
          >
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/professional_technical.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Fundamental Analysis
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              We emphasize the importance of fundamental analysis in making
              informed decisions. Our Fundamental Analysis tool is designed to
              provide the tools necessary for evaluating economic data such as
              indicators, news events, different variables, or anything that
              might influence asset values to individuals.
            </p>
          </a>
        </div>
        <div class="child">
          <a [routerLink]="'/automation'" class="text-center text-lg-start">
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/algorithmic.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Automation
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              Our software is designed to automate trades via custom algorithms,
              improving the execution process by incorporating pre-defined
              rules. Enhance your actions with a consistent approach that is
              based on rules of a certain kind and in the end leads to an
              increased accuracy over time.
            </p>
          </a>
        </div>
        <div class="child">
          <a
            [routerLink]="'/multiple-order-type'"
            class="text-center text-lg-start"
          >
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/real_time.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Multiple-Order Types
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              Set your trades free with the use of several execution approaches
              for fast execution, precise entry, stop-loss, and take-profit.
              Forming smart trading strategies, which include market orders for
              quick trade, limit orders for the targeted price, stop orders for
              protection from losses, and trailing orders for secure profits.
            </p>
          </a>
        </div>
        <div class="child">
          <a
            [routerLink]="'/predictive-trading-options'"
            class="text-center text-lg-start"
          >
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/access_research.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Predictive Trading
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              With predictive trading options, traders can explore the chance of
              exposing their capital to an expected price movement within a
              given period. For successful predictions, the reward remains
              constant, while incorrect forecasts result in a loss equal to the
              stake.
            </p>
          </a>
        </div>
        <div class="child">
          <a [routerLink]="'/mobile-trading'" class="text-center text-lg-start">
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/professional_technical.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Mobile Accessibility
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              The mobile applications of SharksTrader, iOS, and Android
              versions, allow traders to keep their positions under control,
              access the most recent market information directly from their
              phones, execute orders, and manage their accounts on the go.
            </p>
          </a>
        </div>
        <div class="child">
          <a [routerLink]="'/web-platforms'" class="text-center text-lg-start">
            <img
              class="mx-auto mx-lg-0 d-block"
              src="assets/front/images/Shark/algorithmic.svg"
              style="margin-bottom: 25px"
            />
            <h3 style="font-weight: 500; font-size: 23px; margin-bottom: 18px">
              Web Platforms
            </h3>
            <p style="color: #8f90a6; font-size: 16px">
              Financial online interaction is enabled through the online
              platform via browser. These platforms can be customized
              extensively to place users in charge of customizing their working
              environment and options to meet their skills and goals.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="div4" id="why-choose-us">
    <div class="div4Inner d-flex flex-column flex-lg-row">
      <div
        class="overview-image crypto-banner-image position-relative text-center aos-init aos-animate mr-30"
        style="flex: 1"
      >
        <img src="assets/front/images/Shark/globe.webp" />
        <img src="assets/front/images/Shark/6th-graphics.png" />
      </div>

      <div style="flex: 1">
        <h2
          class="text-center text-lg-start"
          style="letter-spacing: 0.5px; font-size: 38px; margin-bottom: 40px"
        >
          Comprehensive Solution for White Label Trading Software for Brokers
          and Digital Assets
        </h2>
        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Hedge Funds
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Our Trading Software For Brokers is configurable, allowing you to
          trade many assets on a single platform. It facilitates cost and time
          savings, and it also makes risk management simple.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Single Platform
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          The simplest method for trading many asset classes from a single
          platform is to use Shark Traders. It implies that trading several
          assets on various platforms with the same exchange is not necessary.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Risk Management Tools
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Stop-loss orders and other risk management tools help you limit losses
          while safeguarding the transactions you open.
        </p>
      </div>
    </div>
  </div>

  <div class="div5">
    <div class="div5Inner" style="border-radius: 20px">
      <div class="row" style="padding: 50px">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <img
            src="assets/front/images/Shark/professional_technical.svg"
            style="margin-bottom: 25px"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            Mobile Accessibility
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Place and manage trades.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Get your Stop Loss and Take Profit levels and this will save
                  your trades.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Control trades with one-click buttons.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/secure-shield.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">Algorithmic Trading</h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Our Platform can suggest trade ideas which is the best builder
                  for automated transactions in stocks.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  With our platform you get access to Interactive brokers for
                  trading equities & ETFs.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Our platform provides the guarantee of consistency and timely
                  accomplishment of tasks.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-12 col-lg-4 mb-4 mb-lg-0">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/team.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            Algorithm-Driven Trade Executors
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  We develop self-learning robots that provide an automatic
                  quoting analysis.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  We offer tailored indicators for the analysis of a currency or
                  stock.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Our platform robots follow established investment rules to
                  minimize risks and boost returns as much as possible.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="div6">
    <div class="div6Inner d-flex flex-column-reverse flex-lg-row">
      <div style="flex: 1; letter-spacing: 0.5px">
        <h2
          class="text-center text-lg-start"
          style="letter-spacing: 0.5px; font-size: 38px; margin-bottom: 40px"
        >
          Advanced Trading Software for Brokerage Firms
        </h2>
        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3
            style="
              letter-spacing: 0.5px;
              font-size: 23px;
              font-weight: 500;
              margin-left: 10px;
            "
          >
            Being The Best Solution For Your Broking Business
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Empowering users taking advantage of advanced charting and analysis
          tools our robust platform runs well on desktop, mobile, and web. This
          adaptability guarantees that users can manage investments from
          anywhere and also be updated on current market dynamics.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3
            style="
              letter-spacing: 0.5px;
              font-size: 23px;
              font-weight: 500;
              margin-left: 10px;
              line-height: 1.8;
            "
          >
            Here are the benefits of utilizing our Trading Software in your
            business brokerage
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Cost-effective and Scalable: Our platform is designed to be affordable
          for businesses of any size, from startups to large enterprises. Wide
          Applicability: Adapts to meet the diverse needs of various businesses.
          Ideal for Brokers: This combination of affordability, scalability, and
          adaptability makes it a perfect fit for the trading software needs of
          brokers.
        </p>
      </div>

      <div
        class="overview-image crypto-banner-image position-relative text-center aos-init aos-animate mr-30"
        style="flex: 1"
      >
        <img style="width: 630px" src="assets/front/images/Shark/globe.webp" />
        <img
          style="top: 46%"
          src="assets/front/images/Shark/3rd-Graphics.png"
        />
      </div>
    </div>
  </div>

  <div class="div7" id="become-a-partner">
    <div class="div7Inner" style="border-radius: 20px">
      <div class="row" style="padding: 50px">
        <div class="col-12 col-sm-6 mb-4 mb-lg-0 col-lg-3">
          <img
            style="margin-bottom: 20px; width: 64px"
            src="assets/front/images/Shark/cube-3d.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            A Multi-Asset Platform
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Netting system
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Hedging option
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Market Depth
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Support for all order types
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 mb-4 mb-lg-0 col-lg-3">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/automated-process.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            White Label Programs
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Direct Market Access (DMA)
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Liquidity Services
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Automation and Execution
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 md-4 mb-lg-0 col-lg-3">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/team.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            Enhanced Back-Office
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Flexible system
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Risk management tools
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Multi-dealer support
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Full operative control
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/data.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">CRM</h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Social or Mirror Duplication (PAMM & MAM)
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Manage referral system
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Fund Manager Portfolio
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Multiple Payment Gateway
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="div8">
    <div class="div8Inner d-flex flex-column flex-lg-row">
      <div
        class="overview-image crypto-banner-image position-relative text-center aos-init aos-animate mr-30"
        style="flex: 1"
      >
        <img src="assets/front/images/Shark/globe.webp" />
        <img src="assets/front/images/Shark/4th-Graphics.png" />
      </div>

      <div style="flex: 1; margin-top: 35px">
        <h2
          class="text-center text-lg-start"
          style="
            letter-spacing: 0.5px;
            font-size: 38px;
            margin-bottom: 40px;
            font-weight: 500;
          "
        >
          Our Distinctive Strength
        </h2>
        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Cutting-Edge Tools for Smart Investors
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Cutting-Edge Tools for Smart Investors
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Build Your Investment Strategy with Personalized Tools
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Providing strategies based on technical analysis, fundamental
          analysis, and algorithmic methods to have a proper and all-rounded
          investment decision.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Transforming How Trades Happen Automatically
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          Use the Expert Advisors (EA) and robots to reach new heights and to
          maximize your journey to success.
        </p>

        <div style="display: flex">
          <i
            class="fa-solid fa-circle-check"
            style="color: #40a4fa; font-size: 27px"
          ></i>
          <h3 style="font-size: 23px; font-weight: 500; margin-left: 10px">
            Minimizing Risks, Maximizing Success
          </h3>
        </div>
        <p
          style="
            margin-bottom: 28px;
            color: #8f90a6;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 36px;
          "
        >
          You can monitor your positions, settle the stop-loss and take-profit
          orders, and hedge on your risk.
        </p>
      </div>
    </div>
  </div>

  <div class="div9">
    <div class="div9Inner" style="border-radius: 20px">
      <div class="row" style="padding: 50px">
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
          <img
            src="assets/front/images/Shark/algorithmic.svg"
            style="margin-bottom: 25px"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            Being part of the global financial realm directly.
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Our creative software has a direct link to financial hubs
                  across every corner of the world.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Unlocking a rich world of markets and highly valuable assets.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/stock.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">
            Popular liquidity providers
          </h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Use our connections which led liquidity providers to us.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Ensuring speedy and timely order execution.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
          <img
            style="width: 64px; margin-bottom: 20px"
            src="assets/front/images/Shark/team.png"
          />
          <h3 style="font-weight: 500; font-size: 23px">Easy to manage</h3>
          <ul style="list-style: none">
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  Our plug-and-play gateways enable you to monitor your business
                  and analyze risks.
                </p>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #40a4fa; margin-top: 5px"
                ></i>
                <p
                  style="
                    margin-bottom: 10px;
                    color: #8f90a6;
                    font-size: 16px;
                    margin-left: 10px;
                  "
                >
                  The platform is designed to be easy to use with some trading
                  tools and functions that assist beginners.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="div10">
    <div class="div10Inner d-flex flex-column-reverse flex-lg-row">
      <div style="flex: 1; letter-spacing: 0.5px; margin-top: 50px">
        <h2
          class="text-center text-lg-start"
          style="letter-spacing: 0.5px; font-size: 38px; margin-bottom: 40px"
        >
          Easy On-the-Go-Use for Everyone and Everywhere
        </h2>
        <p class="text-center text-lg-start" style="color: white">
          <strong style="font-weight: 900"
            ><em
              >Internationally trade from your smartphone or tablet!</em
            ></strong
          >
        </p>
        <p class="text-center text-lg-start" style="color: white">
          Manage your financial life smoothly with our app available for iPhone,
          iPad, and Android devices. We will provide you with these tools for
          taking stock of the world of stocks and currencies.
        </p>
        <p class="text-center text-lg-start" style="color: white">
          <strong style="font-weight: 900"
            >Discover Yourself with Our Mobile App in which You Can</strong
          >
        </p>
        <ul style="list-style: none">
          <li>
            <div style="display: flex">
              <i
                class="fa-regular fa-circle-check"
                style="color: #40a4fa; margin-top: 5px"
              ></i>
              <p style="color: #8f90a6; font-size: 15px; margin-left: 10px">
                Place and manage trades.
              </p>
            </div>
          </li>
          <li>
            <div style="display: flex">
              <i
                class="fa-regular fa-circle-check"
                style="color: #40a4fa; margin-top: 5px"
              ></i>
              <p style="color: #8f90a6; font-size: 15px; margin-left: 10px">
                Set pending orders.
              </p>
            </div>
          </li>
          <li>
            <div style="display: flex">
              <i
                class="fa-regular fa-circle-check"
                style="color: #40a4fa; margin-top: 5px"
              ></i>
              <p style="color: #8f90a6; font-size: 15px; margin-left: 10px">
                Use the Stop Loss and Take Profit orders to prevent your trades
                from losing.
              </p>
            </div>
          </li>
          <li>
            <div style="display: flex">
              <i
                class="fa-regular fa-circle-check"
                style="color: #40a4fa; margin-top: 5px"
              ></i>
              <p style="color: #8f90a6; font-size: 15px; margin-left: 10px">
                Apply One Click Options to buy and sell the trades the way you
                like.
              </p>
            </div>
          </li>
          <li>
            <div style="display: flex">
              <i
                class="fa-regular fa-circle-check"
                style="color: #40a4fa; margin-top: 5px"
              ></i>
              <p style="color: #8f90a6; font-size: 15px; margin-left: 10px">
                Be the analyst with 30 technical indicators and 24 analytical
                objects.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div
        class="overview-image crypto-banner-image position-relative text-center aos-init aos-animate mr-30"
        style="flex: 1"
      >
        <img style="width: 630px" src="assets/front/images/Shark/globe.webp" />
        <img
          style="top: 46%"
          src="assets/front/images/Shark/2nd-Graphics.png"
        />
      </div>
    </div>
  </div>

  <div class="div11" id="downloadApp">
    <div class="div11Inner d-flex flex-column flex-lg-row">
      <div
        class="overview-image crypto-banner-image position-relative text-center aos-init aos-animate mr-30"
        style="flex: 1"
      >
        <img src="assets/front/images/Shark/globe.webp" />
        <img src="assets/front/images/Shark/5th-Graphics_2.png" />
      </div>

      <div style="flex: 1; margin-top: 35px; padding-top: 85px">
        <h2
          class="text-center text-lg-start"
          style="letter-spacing: 0.5px; font-size: 38px; margin-bottom: 40px"
        >
          Key Benefits and Technical Features Of The Shark Traders
        </h2>
        <p
          class="text-center text-lg-start"
          style="color: #8d90a6; font-size: 16px; margin-bottom: 40px"
        >
          Empower your brokerage with cutting-edge trading software for brokers
          designed to help you and your clients navigate the ever-evolving
          financial markets. The Shark Traders equips you with the tools and
          functionalities to make informed decisions, streamline workflows, and
          achieve superior trading results.
        </p>
        <div
          style="gap: 10px"
          class="btn-box d-flex a lign-items-center justify-content-center justify-content-lg-start"
        >
          <a href="https://play.google.com/store/apps/" target="_blank">
            <img
              src="assets/front/images/Shark/apple-store.png"
              style="border-radius: 13px; margin-right: 20px"
            />
          </a>
          <a
            href="https://play.google.com/store/apps/"
            target="_blank"
            style="border-radius: 35px"
          >
            <img
              src="assets/front/images/Shark/google-play.png"
              style="border-radius: 13px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="div12">
    <div class="div12Inner text-center contact_section">
      <h2 style="font-weight: 500; letter-spacing: 0.5px; line-height: 1.3">
        Shark Traders: Where Innovation<br />
        Meets Your Trading Goals.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
