<div class="pageBg feature-top-spacing">
  <div class="menu position-sticky">
    <ul class="menuUl">
      <li class="menuItems">
        <a [routerLink]="'/multi-asset-platform'">Multi-Asset Platform</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/technical-analysis'">Technical Analysis</a>
      </li>
      <li class="menuItems active">
        <a [routerLink]="'/fundamental-analysis'">Fundamental Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/automation'">Automation</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/multiple-order-type'">Multiple Order Type</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/predictive-trading-options'"
          >Predictive Trading Options</a
        >
      </li>
      <li class="menuItems">
        <a [routerLink]="'/mobile-trading'">Mobile Trading</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/web-platforms'">Web Platforms</a>
      </li>
    </ul>
  </div>

  <div class="container pt-5">
    <div class="main text-center">
      <h1 style="color: white; font-weight: 500; letter-spacing: 0.5px">
        Fundamental Analysis
      </h1>
      <p style="font-size: 16px">
        We recognize the significance of fundamental analysis in shaping
        informed decisions. Our Fundamental Analysis feature equips individuals
        with resources for evaluating economic indicators, news events and other
        variables that impact asset prices. Here’s how our Fundamental Analysis
        feature can be instrumental in making well-informed choices when
        considering asset investments.
      </p>
      <img
        src="assets/front/images/Shark/Fundamental-Analysis.png"
        class="my-30"
        style="width: 1100px"
      />
    </div>
  </div>

  <div class="container">
    <div
      class="feature-card-container flex-wrap d-flex flex-column flex-md-row justify-content-center"
      style="gap: 20px"
    >
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Analysis of Economic Indications
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Our software equips users with comprehensive instruments for analyzing
          crucial economic metrics such as GDP expansion, employment figures and
          inflation percentages. Evaluating the impact of these indicators on
          diverse asset categories allows for adaptive strategy adjustments.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Coverage of News Events
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Our program provides live news updates and event schedules to ensure
          users remain informed about pivotal events such as central bank
          gatherings, geopolitical developments and corporate earnings
          disclosures. This enables proactive anticipation of market shifts and
          the formulation of strategic responses.
        </p>
      </div>
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Insights into Asset Correlation
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Our software provides brokers the ability to look into the
          relationships between various asset classes and fundamental variables.
          Understanding how external events may impact numerous assets at once
          aids in risk management and good portfolio diversification.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Analysis of Historical Data
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Embrace the Past to Shape the Future by analyzing historical data
          unveils the impact of fundamental factors on asset prices.This
          historical perspective informs optimized strategies and data-driven
          predictions for effective decision-making.
        </p>
      </div>
    </div>
  </div>

  <div class="getStarted container mt-5">
    <div class="getStartedInner text-center contact_section">
      <h2
        style="
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.3;
          color: white;
        "
      >
        Shark Traders - Your Success, Our<br />
        Commitment through Innovation.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
