<div class="pageBg2 page-top-spacing">
  <div class="text-center">
    <h2 class="bodyHd">
      Please fill the form, our team will contact<br />
      you shortly
    </h2>
  </div>

  <div class="form">
    <div class="row">
      <p class="col-12 col-md-6">
        <label>
          First Name
          <span class="red">*</span>
        </label>
        <input size="40" value="" type="text" name="Fname" />
      </p>

      <p class="col-12 col-md-6">
        <label>
          Last Name
          <span class="red">*</span>
        </label>
        <input size="40" value="" type="text" name="Lname" />
      </p>
    </div>

    <div class="row">
      <p class="col-12 col-md-6">
        <label>
          Email
          <span class="red">*</span>
        </label>
        <input size="100" value="" type="email" name="Email" />
      </p>

      <p class="col-12 col-md-6">
        <label>
          Mobile Number
          <span class="red">*</span>
        </label>
        <input size="12" value="" type="number" name="MobNo" />
      </p>
    </div>

    <div class="row">
      <p class="col-12 col-md-6">
        <label>
          Company Name
          <span class="red">*</span>
        </label>
        <input size="50" value="" type="number" name="Company" />
      </p>

      <p class="col-12 col-md-6">
        <label>
          Company History
          <span class="red">*</span>
        </label>
        <select id="who">
          <option>--Please select an option--</option>
          <option>1-3 years</option>
          <option>3-5 years</option>
          <option>5-10 years</option>
          <option>More than 10 years</option>
        </select>
      </p>
    </div>

    <p>
      <label>
        Message
        <span class="red">*</span>
      </label>
      <textarea id="txtAreaMsg" rows="6" cols="70"></textarea>
    </p>

    <div>
      <div class="row">
        <input id="tncChkbox" type="checkbox" />
        <p
          style="
            margin-left: 7px;
            margin-top: 16px;
            font-size: 15px;
            font-weight: 600;
            color: white;
          "
        >
          I Read and accept broker terms.
        </p>
      </div>
      <div>
        <p class="term-text">
          Please read the Broker Terms for a few minutes before clicking the
          submit button. By submitting this form, you agree with the
          <a href="#">broker's terms.</a>
        </p>
      </div>
    </div>

    <a href="" class="default-btn position-relative">Submit</a>
  </div>

  <div class="div12">
    <div class="div12Inner text-center contact_section">
      <h2 style="font-weight: 500; letter-spacing: 0.5px; line-height: 1.3">
        Shark Trader’s - Fast, Scalable,<br />
        Secure - Trade With Confidence!
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
