<div class="pageBg feature-top-spacing">
  <div class="menu position-sticky">
    <ul class="menuUl">
      <li class="menuItems">
        <a [routerLink]="'/multi-asset-platform'">Multi-Asset Platform</a>
      </li>
      <li class="menuItems active">
        <a [routerLink]="'/technical-analysis'">Technical Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/fundamental-analysis'">Fundamental Analysis</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/automation'">Automation</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/multiple-order-type'">Multiple Order Type</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/predictive-trading-options'"
          >Predictive Trading Options</a
        >
      </li>
      <li class="menuItems">
        <a [routerLink]="'/mobile-trading'">Mobile Trading</a>
      </li>
      <li class="menuItems">
        <a [routerLink]="'/web-platforms'">Web Platforms</a>
      </li>
    </ul>
  </div>

  <div class="container pt-5">
    <div class="main text-center">
      <h1 style="color: white; font-weight: 500; letter-spacing: 0.5px">
        Technical Analysis
      </h1>
      <p style="font-size: 16px">
        Unlock insights with our professional Technical Analysis. Our software
        boasts robust charting and a plethora of technical tools. Empower
        yourself with data-driven decisions by tapping into our advanced
        Technical Analysis features.
      </p>
      <img
        src="assets/front/images/Shark/2.png"
        class="my-30"
        style="width: 1100px"
      />
    </div>
  </div>

  <div class="container mt-5">
    <div
      class="feature-card-container flex-wrap d-flex flex-column flex-md-row justify-content-center"
      style="gap: 20px"
    >
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Advanced Charting
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Experience versatile chart options like candlestick, line and bar
          charts. Elevate your analysis game by visually dissecting price trends
          and patterns across different time frames, empowering precision in
          your decisions.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Timeframes
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Choose from a spectrum of time frames 1-minute, 5-minute, hourly,
          daily or weekly. Match your strategy and style, customizing your
          analysis depth and duration for precision in decision-making.
        </p>
      </div>
      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Technical Indicators
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Our cutting edge terminals provide a wide range of technical
          indicators, including moving averages, Relative Strength Index (RSI),
          Moving Average Convergence Divergence (MACD), Stochastic Oscillators,
          Bollinger Bands and many others.
        </p>
      </div>

      <div
        style="background-color: #28293d; padding: 30px; border-radius: 15px"
      >
        <h3
          style="
            margin-bottom: 14px;
            color: white;
            font-weight: 500;
            font-size: 24px;
          "
        >
          Drawing Tools
        </h3>
        <p style="color: #8f90a6; font-size: 16px">
          Embrace charting tools to draw trend lines, identify support,
          resistance levels and create visual analyses. Illuminate your path to
          well-informed decisions using these innovative charting capabilities
          as you navigate your financial journey.
        </p>
      </div>
    </div>
  </div>

  <div class="getStarted container mt-5">
    <div class="getStartedInner text-center contact_section">
      <h2
        style="
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 1.3;
          color: white;
        "
      >
        Shark Traders - Your Success, Our<br />
        Commitment through Innovation.
      </h2>
      <a href="" class="default-btn1 position-relative">Let's Get Started</a>
    </div>
  </div>
</div>
